<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Items:</strong>
  <%= @booking.item_id %>
</p>

<p>
  <strong>Start dates:</strong>
  <%= @booking.started_at %>
</p>

<p>
  <strong>End dates:</strong>
  <%= @booking.ended_on %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
