<p id="notice"><%= notice %></p>

<% if @booking.user.present? %>
  <p>
    <strong>User:</strong>
    <%= @booking.user.name %>
  </p>
<% end %>

<% if @booking.item.present? %>
  <p>
    <strong>Item:</strong>
    <%= @booking.item.name %>
  </p>
<% end %>

<p>
  <strong>Started at:</strong>
  <%= @booking.started_at %>
</p>

<p>
  <strong>Ended on:</strong>
  <%= @booking.ended_on %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
