<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

  <strong>MicroPosts:</strong>
  <% @user.microposts.each do |microposts| %>
  <div class="alert alert_danger"><%= "» " %><%= microposts.content %></div>
<% end %>

<strong>Reviews:</strong>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>