<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<strong>Reviews:</strong>
<% @user.reviews.each do |reviews| %></br>
  <%= "» " %><%= reviews.message %>
<% end %>
<br><br>
<strong>User items:</strong>
<% @user.items.each do |items| %></br>
  <%= items.name_items %>
<% end %>
</br></br>
<strong>Bookings:</strong>
<% @user.bookings.each do |bookings| %></br>
  <%= bookings.item_id%><%= " » date end: " %><%= bookings.start_dates%>
<% end %>
</br></br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
