<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @user.city.name %>
</p>

<p>
<strong>Reviews:</strong>
<% @user.reviews.each do |reviews| %><br>
  <%= "» " %><%= reviews.message %>
<% end %>
</p>

<p>
<strong>Items:</strong>
  <% @user.items.each do |items| %>
  <%= items.name %> |
  <% end %>
</p>

<p>
  <strong>Bookings:</strong>
  <% @user.bookings.each do |bookings| %>
    <%= bookings.item.name %><%= " » Ended on: " %><%= bookings.ended_on %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>