<p id="notice"><%= notice %></p>

<h1 align="center">Listing Items</h1>

<%= render 'shared/submenu' %>

<%=  link_to 'New Item', new_item_path %>
<%= form_tag items_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<%= link_to "Advanced Search", new_search_path%>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Category</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <% if item.user.present? %>
            <%= item.user.name %>
          <% end %>
        </td>
        <td><%= item.name %></td>
        <td>
          <% if item.category.present? %>
            <%= item.category.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @items %>
  </div>
  <%= will_paginate @items, :container => false %>
</div>
