<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Users:</strong>
  <% if @city.users.present? %>
    <% @city.users.each do |users| %><br>
      <%= users.name %><br>
      <% if users.items.present? %>
        <strong><%= "» Items:" %></strong>
        <% users.items.each do |items| %>
          <%= items.name %> |
      <% end %><br>
      <% end %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>