<div class='nested-fields'>
  <div class="field">
    <%= f.label :filter %>
    <%= f.text_field :filter %>
  </div>
  <div class="field">
  <%= f.label :value %>
  <%= f.text_field :value %>
</div>
  <%= link_to_remove_association "remove task", f %>
</div>
