<p id="notice"><%= notice %></p>

<% if @review.user.present? %>
  <p>
    <strong>User:</strong>
    <%= @review.user.name %>
  </p>
<% end %>

<p>
  <strong>Message:</strong>
  <%= @review.message %>
</p>

<% if @review.reviewable.is_a?(Item) %>
  <p>
    <strong>Item:</strong>
    <%= @review.reviewable.name %>
  </p>
<% elsif @review.reviewable.is_a?(User) %>
  <p>
    <strong>User:</strong>
    <%= @review.reviewable.name %>
  </p>
<% end %>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
