<!DOCTYPE html>
<html>
<head>
  <title>Home page</title>
  <%= stylesheet_link_tag 'https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><%= link_to "Home", home_path %></li>
      <li role="presentation"><%= link_to "About", about_path %></li>
      <li role="presentation"><%= link_to "Create posts", new_post_path %></li>
    </ul>
  </nav>
  <h3 class="text-muted">Home page</h3>
</div>
  <div class="container">
  <div class="starter-template">
    <%= yield %>
  </div>
</div></div>

</body>
</html>